@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body, button,input {
    font-family: 'Poppins', sans-serif;
    color: white;
}

html, body {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --dark: #1d1d1d;
    --light-grey: #bfbfc1;
    --green:#2EFF1B;
}


.iphone-container {
    width: 300px;
    height: 600px; 
    border: 20px solid black;
    border-radius: 45px;
    background-color: var(--dark);
    position: relative;
    text-align: center;
    color: var(--blue);
}

.iphone-container .notch {
    width: 150px;
    height: 20px; 
    background-color: #111;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;
    z-index: 1;
}

.iphone-container .menu-iphone {
    width: 70px;
    background-color: var(--light-grey);
    height: 2px;
    border-radius: 8px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 35px);
}

.content-top {
    padding-top: 20px;
}

.content-top h1 {
   color: var(--green); 
   font-size: 20px;
}

.content-top p {
    font-size: 12px;
}

.content-bottom {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
}

.content-bottom input {
    background: var(--dark);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--green);
    cursor: pointer;
}

.content-bottom input:focus {
    outline: 0;
}

.content-bottom input::placeholder {
    color: white;
}

.content-bottom button {
    cursor: pointer;
    text-decoration: none;
    border: none;
    padding: 6px 60px;
    margin-bottom: 10px;
}

.content-bottom .calculate { 
    background-color: var(--green);
    color: var(--dark);
    border-radius: 28px;
    margin-bottom: 4px;
}

.content-bottom .clear {
    background-color: transparent;
}

.content-bottom p {
    margin: 0 auto;
}
