@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body, button,input, textarea, select {
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

:root {
    --dark: #1d1d1d;
    --light-grey: #bfbfc1;
    --pink: #93748a;
}


.iphone-container {
    width: 300px;
    height: 600px; 
    border: 20px solid black;
    border-radius: 45px;
    background-color: var(--dark);
    position: relative;
    text-align: center;
    color: var(--pink);

}

.iphone-container .notch {
    width: 150px;
    height: 20px; 
    background-color: #111;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;
    z-index: 1;

}

.iphone-container .menu-iphone {
    width: 70px;
    background-color: var(--light-grey);
    height: 2px;
    border-radius: 8px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 35px);
}

.content-top {
    font-size: 10px;
}

.content-top p {
    font-size: 12px;
}

.content-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin: 40px 20px;
}

.content-bottom input {
    background: var(--dark);
    color: white;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid var(--pink);
}

.content-bottom input:focus {
    outline: 0;
    color: white;
}


.content-bottom input::placeholder {
    color: white;
}





